# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
build/
dist/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.nar
*.log

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
